[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
	branch = master
	ignore = all
[submodule "hdl"]
	path = hdl
	url = https://github.com/analogdevicesinc/hdl
	branch = master
	ignore = all
[submodule "ip/zynq-axi-tutorial"]
	path = ip/zynq-axi-tutorial
	url = https://github.com/krailis/zynq-axi-tutorial
