[submodule "buildroot"]
	path = buildroot
	url = https://github.com/analogdevicesinc/buildroot.git
	branch = pluto
[submodule "hdl"]
	path = hdl
	url = https://github.com/analogdevicesinc/hdl
	branch = master
