# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_CLK_ALL_ADI_DRIVERS is not set
# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_HARDEN_BRANCH_PREDICTOR is not set
# CONFIG_HID is not set
# CONFIG_HWMON_ALL_ADI_DRIVERS is not set
# CONFIG_IIO_ALL_ADI_DRIVERS is not set
# CONFIG_INPUT_ALL_ADI_DRIVERS is not set
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_KERNEL_ALL_ADI_DRIVERS is not set
# CONFIG_MEDIA_ALL_ADI_DRIVERS is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_PREEMPT is not set
CONFIG_PREEMPT_RT=y
CONFIG_SLUB=y
# CONFIG_SND_SOC_ALL_ADI_CODECS is not set
# CONFIG_SOUND is not set
# CONFIG_USB_ALL_ADI_DRIVERS is not set
# CONFIG_USB_HID is not set
# CONFIG_WIRELESS is not set
CONFIG_XILINX_DMA=y
CONFIG_PREEMPT_LAZY=y
CONFIG_RCU_BOOST=y
CONFIG_RCU_BOOST_DELAY=500
# CONFIG_SLAB_FREELIST_HARDENED is not set
CONFIG_SLUB_DEBUG=y
# CONFIG_SLUB_DEBUG_ON is not set
# CONFIG_SLUB_STATS is not set
# CONFIG_USB_KBD is not set
# CONFIG_USB_MOUSE is not set
# CONFIG_XILINX_DMATEST is not set
# CONFIG_XILINX_VDMATEST is not set
