# CONFIG_PREEMPT is not set
CONFIG_PREEMPT_RT=y
CONFIG_SLUB=y
CONFIG_XILINX_DMA=y
CONFIG_PREEMPT_LAZY=y
CONFIG_RCU_BOOST=y
CONFIG_RCU_BOOST_DELAY=500
# CONFIG_SLAB_FREELIST_HARDENED is not set
CONFIG_SLUB_DEBUG=y
# CONFIG_SLUB_DEBUG_ON is not set
# CONFIG_SLUB_STATS is not set
# CONFIG_XILINX_DMATEST is not set
# CONFIG_XILINX_VDMATEST is not set
