CONFIG_AXI_INTR_MONITOR=y
CONFIG_BCMA=y
CONFIG_CMA_DEBUGFS=y
CONFIG_CRYPTO_AUTHENC=m
CONFIG_DMA_SHARED_BUFFER=y
# CONFIG_ETHERNET is not set
CONFIG_FPGA_BRIDGE=y
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_XZ=y
CONFIG_KEYS=y
CONFIG_LIBCRC32C=y
# CONFIG_MDIO_BUS is not set
# CONFIG_MDIO_DEVICE is not set
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_OF_OVERLAY=y
# CONFIG_PHYLIB is not set
CONFIG_RAS=y
# CONFIG_RD_GZIP is not set
CONFIG_RD_XZ=y
CONFIG_REMOTEPROC=m
# CONFIG_RFKILL is not set
# CONFIG_USB_NET_DRIVERS is not set
CONFIG_VIRTUALIZATION=y
# CONFIG_VLAN_8021Q is not set
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set
CONFIG_XILINX_APF=y
CONFIG_XILINX_DMA=y
CONFIG_XILINX_DMA_ENGINES=y
CONFIG_XILINX_INTC=y
CONFIG_XZ_DEC=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_AFS_FS is not set
CONFIG_ASSOCIATIVE_ARRAY=y
# CONFIG_ASYMMETRIC_KEY_TYPE is not set
# CONFIG_BCMA_DEBUG is not set
# CONFIG_BCMA_DRIVER_GMAC_CMN is not set
# CONFIG_BCMA_DRIVER_GPIO is not set
# CONFIG_BCMA_HOST_SOC is not set
# CONFIG_BIG_KEYS is not set
CONFIG_BLK_MQ_VIRTIO=y
# CONFIG_CEPH_FS is not set
# CONFIG_CIFS is not set
# CONFIG_CODA_FS is not set
CONFIG_CRYPTO_DEV_VIRTIO=m
CONFIG_CRYPTO_ENGINE=m
CONFIG_DECOMPRESS_XZ=y
# CONFIG_DMA_FENCE_TRACE is not set
CONFIG_DNS_RESOLVER=y
# CONFIG_ECRYPT_FS is not set
CONFIG_EDAC=y
# CONFIG_EDAC_DEBUG is not set
CONFIG_EDAC_LEGACY_SYSFS=y
# CONFIG_EDAC_PL310_L2 is not set
# CONFIG_EDAC_SYNOPSYS is not set
# CONFIG_ENCRYPTED_KEYS is not set
CONFIG_FPGA_REGION=y
CONFIG_GRACE_PERIOD=y
# CONFIG_KEY_DH_OPERATIONS is not set
CONFIG_LOCKD=y
CONFIG_LOCKD_V4=y
# CONFIG_NCP_FS is not set
# CONFIG_NFSD is not set
CONFIG_NFS_ACL_SUPPORT=y
CONFIG_NFS_COMMON=y
CONFIG_NFS_FS=y
# CONFIG_NFS_SWAP is not set
# CONFIG_NFS_V2 is not set
CONFIG_NFS_V3=y
CONFIG_NFS_V3_ACL=y
# CONFIG_NFS_V4 is not set
CONFIG_OF_CONFIGFS=y
CONFIG_OF_DYNAMIC=y
CONFIG_OF_RESOLVE=y
# CONFIG_PERSISTENT_KEYRINGS is not set
# CONFIG_ROOT_NFS is not set
CONFIG_RPMSG=m
CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_VIRTIO=m
# CONFIG_SCSI_VIRTIO is not set
CONFIG_SUNRPC=y
# CONFIG_SUNRPC_DEBUG is not set
# CONFIG_SYSTEM_BLACKLIST_KEYRING is not set
# CONFIG_USB_HCD_BCMA is not set
# CONFIG_VHOST_CROSS_ENDIAN_LEGACY is not set
# CONFIG_VHOST_NET is not set
CONFIG_VIRTIO=m
# CONFIG_VIRTIO_BALLOON is not set
# CONFIG_VIRTIO_BLK is not set
# CONFIG_VIRTIO_CONSOLE is not set
# CONFIG_VIRTIO_INPUT is not set
# CONFIG_VIRTIO_NET is not set
# CONFIG_XILINX_CDMATEST is not set
CONFIG_XILINX_DMATEST=m
CONFIG_XILINX_DMA_APF=y
# CONFIG_XILINX_DPDMA is not set
# CONFIG_XILINX_PR_DECOUPLER is not set
CONFIG_XILINX_VDMATEST=m
CONFIG_XZ_DEC_ARM=y
# CONFIG_XZ_DEC_ARMTHUMB is not set
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_SPARC is not set
# CONFIG_XZ_DEC_TEST is not set
# CONFIG_XZ_DEC_X86 is not set
CONFIG_ZYNQ_REMOTEPROC=m
