# CONFIG_ASYMMETRIC_KEY_TYPE is not set
CONFIG_AXI_INTR_MONITOR=y
CONFIG_BCMA=y
CONFIG_CMA_DEBUGFS=y
CONFIG_CRYPTO_AUTHENC=m
# CONFIG_CRYPTO_HW is not set
CONFIG_DEBUG_PREEMPT=y
CONFIG_DNS_RESOLVER=y
# CONFIG_ETHERNET is not set
CONFIG_FPGA_BRIDGE=y
CONFIG_GCC_VERSION=100300
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_JFFS2_CMODE_PRIORITY is not set
CONFIG_JFFS2_CMODE_SIZE=y
# CONFIG_JFFS2_RTIME is not set
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_XZ=y
CONFIG_LIBCRC32C=y
# CONFIG_MDIO_DEVICE is not set
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_OF_OVERLAY=y
CONFIG_OVERLAY_FS=y
# CONFIG_PHYLIB is not set
CONFIG_RAS=y
# CONFIG_RD_GZIP is not set
CONFIG_RD_XZ=y
# CONFIG_RFKILL is not set
# CONFIG_SLAB is not set
CONFIG_SLUB=y
# CONFIG_USB is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VLAN_8021Q is not set
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set
CONFIG_XILINX_APF=y
CONFIG_XILINX_DMA=y
CONFIG_XILINX_DMA_ENGINES=y
CONFIG_XILINX_INTC=y
CONFIG_XZ_DEC=y
# CONFIG_AFS_FS is not set
# CONFIG_ALTERA_FREEZE_BRIDGE is not set
# CONFIG_BCMA_DEBUG is not set
# CONFIG_BCMA_DRIVER_GMAC_CMN is not set
# CONFIG_BCMA_DRIVER_GPIO is not set
# CONFIG_BCMA_HOST_SOC is not set
# CONFIG_CEPH_FS is not set
# CONFIG_CIFS is not set
# CONFIG_CODA_FS is not set
CONFIG_DECOMPRESS_XZ=y
CONFIG_EDAC=y
# CONFIG_EDAC_DEBUG is not set
CONFIG_EDAC_LEGACY_SYSFS=y
# CONFIG_EDAC_PL310_L2 is not set
# CONFIG_EDAC_SYNOPSYS is not set
CONFIG_FPGA_REGION=y
CONFIG_GRACE_PERIOD=y
CONFIG_LOCKD=y
CONFIG_LOCKD_V4=y
# CONFIG_NFSD is not set
CONFIG_NFS_ACL_SUPPORT=y
CONFIG_NFS_COMMON=y
CONFIG_NFS_FS=y
# CONFIG_NFS_SWAP is not set
# CONFIG_NFS_V2 is not set
CONFIG_NFS_V3=y
CONFIG_NFS_V3_ACL=y
# CONFIG_NFS_V4 is not set
CONFIG_OF_CONFIGFS=y
CONFIG_OF_DYNAMIC=y
# CONFIG_OF_FPGA_REGION is not set
CONFIG_OF_RESOLVE=y
# CONFIG_OVERLAY_FS_INDEX is not set
CONFIG_OVERLAY_FS_METACOPY=y
# CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW is not set
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_OVERLAY_FS_XINO_AUTO=y
# CONFIG_ROOT_NFS is not set
# CONFIG_SLAB_FREELIST_HARDENED is not set
CONFIG_SLUB_CPU_PARTIAL=y
CONFIG_SLUB_DEBUG=y
# CONFIG_SLUB_DEBUG_ON is not set
# CONFIG_SLUB_STATS is not set
CONFIG_SUNRPC=y
# CONFIG_SUNRPC_DEBUG is not set
CONFIG_XILINX_DMATEST=m
CONFIG_XILINX_DMA_APF=y
# CONFIG_XILINX_DPDMA is not set
# CONFIG_XILINX_PR_DECOUPLER is not set
CONFIG_XILINX_VDMATEST=m
CONFIG_XZ_DEC_ARM=y
# CONFIG_XZ_DEC_ARMTHUMB is not set
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_SPARC is not set
# CONFIG_XZ_DEC_TEST is not set
# CONFIG_XZ_DEC_X86 is not set
