/ {
    axidma_chrdev: axidma_chrdev@0 {
        compatible = "xlnx,axidma-chrdev";
        dmas = <&axi_dma_0 0 &axi_dma_0 1>;
        dma-names = "tx_channel", "rx_channel";
    };
};

&primary_flash {
		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x200000 0x1800000>; /* 24M */
		};
	};