CONFIG_FEATURE_TUNCTL_UG=y
CONFIG_TUNCTL=y
CONFIG_USE_BB_CRYPT_SHA=y
CONFIG_ASH_BASH_NOT_FOUND_HOOK=y
# CONFIG_ASH_BASH_SOURCE_CURDIR is not set
CONFIG_BB_ARCH=y
CONFIG_BC=y
CONFIG_BZIP2_SMALL=0
CONFIG_FEATURE_BC_INTERACTIVE=y
CONFIG_FEATURE_BC_LONG_OPTIONS=y
CONFIG_FEATURE_CATN=y
# CONFIG_FEATURE_CP_REFLINK is not set
CONFIG_FEATURE_CROND_SPECIAL_TIMES=y
CONFIG_FEATURE_DC_BIG=y
CONFIG_FEATURE_EDITING_WINCH=y
# CONFIG_FEATURE_ETC_SERVICES is not set
CONFIG_FEATURE_FIND_EXECUTABLE=y
CONFIG_FEATURE_FIND_QUIT=y
# CONFIG_FEATURE_LESS_ENV is not set
# CONFIG_FEATURE_LESS_RAW is not set
# CONFIG_FEATURE_LIBBUSYBOX_STATIC is not set
CONFIG_FEATURE_NSLOOKUP_BIG=y
CONFIG_FEATURE_NSLOOKUP_LONG_OPTIONS=y
# CONFIG_FEATURE_NTP_AUTH is not set
CONFIG_FEATURE_RTMINMAX_USE_LIBC_DEFINITIONS=y
CONFIG_FEATURE_SETPRIV_CAPABILITIES=y
CONFIG_FEATURE_SETPRIV_CAPABILITY_NAMES=y
CONFIG_FEATURE_SETPRIV_DUMP=y
CONFIG_FEATURE_SHOW_SCRIPT=y
CONFIG_FEATURE_SH_EMBEDDED_SCRIPTS=y
CONFIG_FEATURE_SH_READ_FRAC=y
# CONFIG_FEATURE_SORT_OPTIMIZE_MEMORY is not set
CONFIG_FEATURE_SWAPONOFF_LABEL=y
CONFIG_FEATURE_TC_INGRESS=y
# CONFIG_FEATURE_TLS_SHA1 is not set
# CONFIG_FEATURE_UDHCPC6_RFC5970 is not set
# CONFIG_FEATURE_VOLUMEID_LFS is not set
CONFIG_FEATURE_VOLUMEID_MINIX=y
CONFIG_FEATURE_WAIT_FOR_INIT=y
CONFIG_FEATURE_XARGS_SUPPORT_ARGS_FILE=y
CONFIG_FEATURE_XARGS_SUPPORT_PARALLEL=y
CONFIG_FLOAT_DURATION=y
CONFIG_HEXEDIT=y
# CONFIG_HUSH_BASH_SOURCE_CURDIR is not set
# CONFIG_HUSH_COMMAND is not set
# CONFIG_HUSH_GETOPTS is not set
# CONFIG_HUSH_LINENO_VAR is not set
# CONFIG_HUSH_READONLY is not set
# CONFIG_HUSH_TIMES is not set
# CONFIG_MINIPS is not set
# CONFIG_NETCAT is not set
CONFIG_NOLOGIN=y
CONFIG_NOLOGIN_DEPENDENCIES=y
CONFIG_NUKE=y
CONFIG_RESUME=y
CONFIG_RUN_INIT=y
CONFIG_SETFATTR=y
CONFIG_STACK_OPTIMIZATION_386=y
CONFIG_SVOK=y
CONFIG_TC=y
